<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <title>Why Lebron James Is The Best Overall Athlete</title>
        <meta name="keywords" content="Lebron James, basketball, superstar">
        <style>
            body {
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 16px;
                color: #333333;
                padding: 0;
                margin: 0;
                background-color: rgba(0, 0, 44, 0.2);
            }

            .container {
                max-width: 60em;
                margin: 0 auto;
                display: flex;
            }

            .main-column {
                background-color: white;
                flex: 1 100%;
                padding: 10px;
            }

            .sidebar {
                background-color: gold;
                width: 35%;
                padding: 10px;
                padding-top: 70px;
            }

            footer {
                min-height: 100px;
                margin-bottom: 40px;
                margin-top: 50px;
            }

            a {
                color: blue;
            }

            a:link {
                color: blue;
            }

            a:visited {
                color: darkblue;
            }

            a:hover {
                color: hotpink;
            }

            a:active {
                color: darkblue;
            }

            img {
                border-radius: 2px;
                margin-left: 5px;
            }

            .pull-right {
                float: right;
            }

            .centered {
                display: block;
                margin: auto;
            }

            .top {
                height: 0;
                width: 0;
            }
        </style>
    </head>

    <body>
        <div class="top" id="top"></div>
        <div class="container">
            <div class="main-column">
                <h1>Lebron James Lifestyle Piece</h1>
                <img class="pull-right" src="http://media.gettyimages.com/photos/lebron-james-of-the-cleveland-cavaliers-dunks-during-a-game-against-picture-id516582704?s=612x612"
                    alt="Lebron James dunking" width="240px">
                <p>Lebron James is a hero to me because he has inspired many kids to go outside and to get some exercise while
                    having fun playing the sport of basketball. Lebron James has made me want to practice basketball every
                    single day to get better, and he has inspired me to love the sport. Lebron James' diet is very good
                    <a href="#cite-2">[2]</a>; he has inspired me to get fit as well as eat healthy and have the best lifestyle that I possibly
                    can. Lebron James has millions of followers who look up to him. He demonstrates that you can do anything
                    in your life and things will always get better even when life isn't going so good. Lebron was struggling
                    when he grew up in Akron Ohio, but he came up and became one of the best basketball players of all time.
                    He is arguably the best basketball player in the NBA right now. Lebron is a hero to me because he never
                    stops grinding and he always has a positive mindset and he will never give up no matter what.
                </p>
                <hr>
                <h2>Lebron's Life</h2>
                <p>Lebron James has led a very interesting life. He was born on December 30th 1984, in Akron, Ohio. At an early
                    age, Lebron showed his outstanding talent.</p>
                <img width="204px" height="305px" class="centered" src="http://www.accessatlanta.com/rf/image_lowres/Pub/p4/MyAJC/2013/06/06/Images/photos.medleyphoto.3509999.jpg"
                    alt="Lebron in High School">
                <br>
                <p>As a freshman in high school, he scored an average of eighteen points per game. In July 1999, with friends
                    Sian Cotton, Dru Joyce and Willie McGee, James, at age 14, helped his Akron AAU team to a national runner-up
                    finish in Orlando, Fla. In March, 2000, as a 15-year-old freshman, James scored 25 points and grabbed
                    nine rebounds to lead St. Vincent-St. Mary High School to a state championship victory over Jamestown
                    Greenview.
                    <br>
                    <img class="centered" width="204px" src="https://cdn-s3.si.com/s3fs-public/si/multimedia/photo_gallery/1109/lebron.james.high.school/images/chosen.jpg"
                        alt="The Chosen One">
                    <br> Later, in Feb., 2002, James was pictured on Sports Illustrated magazine cover with the title, “The Chosen
                    One.”
                    <ul>
                        <li>
                            <b>March 20, 2002: Named Ohio’s Mr. Basketball a second time.</b>
                        </li>
                        <li>
                            <b>Feb. 8, 2003: Coming back after a suspension for accepting free jerseys, scores 52 points in
                                win over Westchester (Calif.) High School.</b>
                        </li>
                        <li>
                            <b>March 17, 2003: Again named Ohio’s Mr. Basketball, becoming first player to win the award three
                                times.</b>
                        </li>
                        <li>
                            <b>March 17, 2003: Again named Ohio’s Mr. Basketball, becoming first player to win the award three
                                times.</b>
                        </li>
                        <li>
                            <b>March 22, 2003: Scores 25 points and has 11 rebounds to lead the Irish to mythical national championship
                                and a third state title by beating Kettering Alter.</b>
                        </li>
                        <li>
                            <b>May 21, 2003: Receives a $90 million endorsement contract with Nike.</b>
                        </li>
                        <li>
                            <b>May 22, 2003: Cavaliers win NBA Draft lottery in Secaucus, N.J., ensuring James will play for
                                his hometown pro team</b>
                        </li>
                    </ul>
            </div>
            <!-- </div class="main-column"> -->

            <aside class="sidebar">

                <h3>Lebron Career Stats (NBA):
                    <a href="#cite-1">[1]</a>
                </h3>
                <table>
                    <thead>
                        <tr>
                            <th>G</th>
                            <th>PTS</th>
                            <th>REB</th>
                            <th>AST</th>
                            <th>FG%</th>
                            <th>FG3%</th>
                            <th>FT%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1088</td>
                            <td>27.2</td>
                            <td>7.3</td>
                            <td>7.1</td>
                            <td>50.3</td>
                            <td>34.4</td>
                            <td>74.0</td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <iframe src="https://www.youtube.com/embed/rmM1REPNg_M" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                <p>&nbsp;</p>
                <iframe src="https://www.youtube.com/embed/8XfWrGnW67g" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                <h2>Little Known Facts</h2>
                <p>Some things that are interesting about Lebron James that not many people know about. Lebron James was the
                    first one picked in the overall draft in 2003. With thirteen years to look back on, that year's class
                    ranks among the most successful in the league's history. Lebron James not only loves basketball, he acutally
                    also played football in high school. He also runs a non-profit organization called Family Foundation,
                    which helps needy children in his hometown area. Lebron James has been named the NBA's Most Valuable
                    Player four times (2009, 2010, 2012, 2013). He has been to the NBA All-Star Game every year since 2005.
                    He owned a very small stake in Beats Electronics, which was sold to Apple, Inc. for $3 billion in June
                    2014, reportedly netting him around $30 million in cash and stocks
                    <a href="#cite-3">[3]</a>. Lebron has also played for the US national team in the 2004, 2008, and 2012 Olympics. They won
                    gold in their last two appearances.</p>
                <p>
                    <img width="224px" src="http://img.bleacherreport.net/img/images/photos/002/933/045/8cb4af4fb717a256e3f39943078575e2_crop_north.jpg?1402552029&w=630&h=420"
                        alt="Lebron James wearing Beats headphones.">
                </p>
            </aside>
            <!-- </aside class="sidebar"> -->

        </div>
        <!-- </div class="container"> -->
        <div class="container">
            <footer>
                <p>
                    <b>Citations</b>
                </p>
                <ol>
                    <li>
                        <p id="cite-1">
                            “LeBron James Stats.” Basketball-Reference.com.
                            <a href="https://www.basketball-reference.com/players/j/jamesle01.html">Lebron James Stats</a>
                        </p>
                    </li>
                    <li>
                        <p id="cite-2">
                            “LeBron James Diet and Workout Routine.”
                            <a href="http://www.businessinsider.com/lebron-james-eats-diet-workout-routine-2016-8">Lebron James Diet and Workout Routine</a>
                        </p>
                    </li>
                    <li>
                        <p id="cite-3">
                            "Lebron James Fast Facts"
                            <a href="http://www.cnn.com/2014/07/07/sport/lebron-james-fast-facts/index.html">Lebron James Fast Facts</a>
                        </p>
                    </li>
                    <li>
                        <p id="cite-4">
                            "Timeline of Significant Events in Lebron James' Life"
                            <a href="https://www.ohio.com/akron/sports/timeline-of-significant-events-in-lebron-james-life">Timeline of Significant Events in Lebron James' Life</a>
                        </p>
                    </li>
                </ol>
                <p><a href="#top">ˆ Back to top</a></p>
            </footer>
        </div>
    </body>

</html>